<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cocktail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <Cocktail.Properties.Settings>
            <setting name="licenseURL" serializeAs="String">
                <value>https://github.com/d8vjork/Cocktail/blob/master/LICENSE</value>
            </setting>
            <setting name="issuesURL" serializeAs="String">
                <value>https://github.com/d8vjork/Cocktail/issues/new</value>
            </setting>
            <setting name="projectURL" serializeAs="String">
                <value>https://github.com/d8vjork/Cocktail</value>
            </setting>
            <setting name="extSupport" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>h</string>
                        <string>d</string>
                        <string>php</string>
                        <string>css</string>
                        <string>go</string>
                        <string>html</string>
                        <string>java</string>
                        <string>js</string>
                        <string>json</string>
                        <string>php</string>
                        <string>python</string>
                        <string>ruby</string>
                        <string>sql</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="extOther" serializeAs="String">
                <value>other</value>
            </setting>
        </Cocktail.Properties.Settings>
    </applicationSettings>
</configuration>